


<div class="card">
  <span class="card-bg" style="-"></span>
  <span class="card-shadow"></span>
  <span class="card-description"><h2><%=cocktail.name%></h2></span>
  <span class="card-text">
    <h5>
      <%cocktail.ingredients.each do |ing| %></p>
      <%=ing.name + "  "%>
      <%end%>
    </h5>
  </span>
  <a href="#" class="card-link"></a>
</div>

