_cocktail.html.erb


<div class="card">
  <div class="card-header">
    <%= image_tag "LAND.JPG" %>
  </div>
  <div class="card-body">
    <h2><%= cocktail.name %></h2>
    <p class="recipe"><%= cocktail.name %></p>
  </div>
</div>
