<div class="container text-center">

  <h1>Tous mes cocktails</h1>
  <br>
  <br>

    <% @cocktails.each do |cocktail| %>
        <h2><%= cocktail.name%> </h2>
        <h4><% cocktail.ingredients.each do |ingredient|%>
              <%= ingredient.name + "-"%>
              <%end%></h4>
        <p> <%=link_to "Details", cocktail_path(cocktail) %></p>
        </li>
    <%end%>
  <br>
  <br>
  <br>

<span class="glyphicon glyphicon-glass"></span>
<span class="glyphicon glyphicon-glass"></span>
<span class="glyphicon glyphicon-glass"></span>
<span class="glyphicon glyphicon-glass"></span>

</div>
