
<h1 class="text-center">Tous mes cocktails</h1>
<br>
<br>

  <div class="row">
    <% @cocktails.each do |c| %>
    <div class="col-xs-12 col-sm-4">
      <%= render "cocktail", cocktail: c %>
    </div>
    <% end %>
  </div>



<span class="glyphicon glyphicon-glass"></span>
<span class="glyphicon glyphicon-glass"></span>
<span class="glyphicon glyphicon-glass"></span>

</div>

