
<h1 class="text-center">Tous mes cocktails</h1>
<br>
<br>



  <div class="row">
    <% @cocktails.each do |c| %>
    <div class="col-xs-12 col-sm-4">
      <%= render "cocktail", cocktail: c %>
    </div>
    <% end %>
  </div>

    <% @cocktails.each do |cocktail| %>
        <h2><%= cocktail.name%> </h2>
        <h4><% cocktail.ingredients.each do |ingredient|%>
              <%= ingredient.name + "-"%>
              <%end%></h4>
        <p> <%=link_to "Details", cocktail_path(cocktail) %></p>
        </li>
    <%end%>
  <br>
  <br>
  <br>

<span class="glyphicon glyphicon-glass"></span>
<span class="glyphicon glyphicon-glass"></span>
<span class="glyphicon glyphicon-glass"></span>
<span class="glyphicon glyphicon-glass"></span>

</div>

