<div class="container text-center">

  <h1><%= @cocktail.name  %></h1>

  <br>
  <br>
  <br>

  <div class = "list text-center">

    <% @cocktail.doses.each_with_index do |dose, index| %>
      <h3><%= "#{index + 1} - #{dose.ingredient.name} ----> #{dose.description}" %>
        <%=link_to "Delete", cocktail_dose_path(@cocktail,dose.id), method: :delete%></h3>
      <br>
      <br>
      <br>
    <%end%>

  </div>


  <h4><%=link_to "Add a dose", new_cocktail_dose_path(@cocktail) %></h4>


</div>
